$default: #302E2E;
$title: #534A4A;
$accent: #F5EAEA;
%SegoeUI-400 {
    font-family: 'SegoeUI', sans-serif;
    font-weight: 400;
}

%SegoeUI-Bold-700 {
    font-family: 'SegoeUI-Bold', sans-serif;
    font-weight: 700;
}